<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kristine.logistica">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Logistica">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.AdminActivity"
            android:parentActivityName=".Logistica">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Logistica" />
        </activity>
        <activity android:name=".Activities.DriverActivity" />
        <activity
            android:name=".Activities.AllDriver"
            android:parentActivityName=".Activities.AdminActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.AdminActivity" />
        </activity>
        <activity
            android:name=".Activities.AllTasks"
            android:parentActivityName=".Activities.AdminActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.AdminActivity" />
        </activity>
        <activity
            android:name=".Activities.AddDriverActivity"
            android:parentActivityName=".Activities.AllDriver">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.AllDriver" />
        </activity>
        <activity
            android:name=".Activities.AddTaskActivity"
            android:parentActivityName=".Activities.AllTasks">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.AllTasks" />
        </activity>
    </application>

</manifest>